[{sasl,[{errlog_type,error}]},
 {lager,
     [{error_logger_redirect,false},
      {error_logger_whitelist,['Elixir.Logger.ErrorHandler']},
      {crash_log,false},
      {handlers,[{'Elixir.LagerLogger',[{level,error}]}]}]},
 {lager_logger,[{level,error}]},
 {redis_poolex,
     [{host,<<"104.131.232.47">>},
      {port,6379},
      {password,<<>>},
      {db,0},
      {reconnect,no_reconnect},
      {max_queue,infinity},
      {pool_size,200},
      {timeout, 25000},
      {pool_max_overflow,400}]},
 {logger,[{level,error}]},
 {requesters,
     [{'Elixir.Requesters.Queue.RabbitConfig',
          [{hostname,<<"amqp://feedler:feedler@192.241.163.72:5672">>},
           {pool_size,1},
           {max_overflow,1},
           {prefetch_count,1},
           {reconnect_timeout,5000}]},
      {'Elixir.Requesters.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {hostname,<<"162.243.68.200">>},
           {port,<<"6432">>},
           {database,<<"feedler">>},
           {username,<<"feedler">>},
           {password,<<"201287ali">>},
           {pool_size,10},
           {timeout,50000},
           {loggers,
               [{'Elixir.Ecto.LogEntry',log,[]},
                {'Elixir.Requesters.Repo.Metrics',record_metric,[]}]}]},
      {environment,prod},
      {pages_workers_size,400},
      {users_workers_size,50},
      {timelines_size,20},
      {aggregator_pages_size,400},
      {aggregator_pages_processor_size,400},
      {aggregator_users_size,50},
      {aggregator_users_processor_size,50}]},
 {tirexs,[{uri,<<"http://192.241.179.172:9200">>}]}].
