{overlay,[{mkdir,"releases/0.9.9"},
          {copy,"./sys.config","releases/0.9.9/sys.config"},
          {copy,"./boot_shim","bin/requesters"},
          {copy,"./boot_shim.bat","bin/requesters.bat"},
          {copy,"./boot","releases/0.9.9/requesters.sh"},
          {copy,"./boot.bat","releases/0.9.9/requesters.bat"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/rel/vm.args",
                "releases/0.9.9/vm.args"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/consolidated/.compile.protocols",
                "lib/requesters-0.9.9/consolidated/.compile.protocols"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/consolidated/Elixir.Collectable.beam",
                "lib/requesters-0.9.9/consolidated/Elixir.Collectable.beam"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/consolidated/Elixir.DBConnection.Query.beam",
                "lib/requesters-0.9.9/consolidated/Elixir.DBConnection.Query.beam"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/consolidated/Elixir.Ecto.DataType.beam",
                "lib/requesters-0.9.9/consolidated/Elixir.Ecto.DataType.beam"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/consolidated/Elixir.Ecto.Queryable.beam",
                "lib/requesters-0.9.9/consolidated/Elixir.Ecto.Queryable.beam"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/consolidated/Elixir.Enumerable.beam",
                "lib/requesters-0.9.9/consolidated/Elixir.Enumerable.beam"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/consolidated/Elixir.IEx.Info.beam",
                "lib/requesters-0.9.9/consolidated/Elixir.IEx.Info.beam"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/consolidated/Elixir.Inspect.beam",
                "lib/requesters-0.9.9/consolidated/Elixir.Inspect.beam"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/consolidated/Elixir.JSX.Encoder.beam",
                "lib/requesters-0.9.9/consolidated/Elixir.JSX.Encoder.beam"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/consolidated/Elixir.List.Chars.beam",
                "lib/requesters-0.9.9/consolidated/Elixir.List.Chars.beam"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/consolidated/Elixir.Poison.Decoder.beam",
                "lib/requesters-0.9.9/consolidated/Elixir.Poison.Decoder.beam"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/consolidated/Elixir.Poison.Encoder.beam",
                "lib/requesters-0.9.9/consolidated/Elixir.Poison.Encoder.beam"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/consolidated/Elixir.String.Chars.beam",
                "lib/requesters-0.9.9/consolidated/Elixir.String.Chars.beam"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/consolidated/Elixir.Timex.Comparable.beam",
                "lib/requesters-0.9.9/consolidated/Elixir.Timex.Comparable.beam"},
          {copy,"/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/consolidated/Elixir.Timex.Convertable.beam",
                "lib/requesters-0.9.9/consolidated/Elixir.Timex.Convertable.beam"}]}.

{generate_start_script,false}.

{extended_start_script,true}.

{include_src,false}.

{include_erts,true}.

{release,{requesters,"0.9.9"},[{requesters,"0.9.9"},elixir,iex,sasl]}.

{release,{requesters,"0.6.2"},[{requesters,"0.6.2"},elixir,iex,sasl]}.

{lib_dirs,["/Users/oivoodoo/projects/musicfeed/musicfeed-workers/_build/dev/lib",
           "/Users/oivoodoo/projects/musicfeed/musicfeed-workers/deps",
           "/usr/local/Cellar/elixir/1.3.4/bin/../lib/eex/ebin",
           "/usr/local/Cellar/elixir/1.3.4/bin/../lib/elixir/ebin",
           "/usr/local/Cellar/elixir/1.3.4/bin/../lib/ex_unit/ebin",
           "/usr/local/Cellar/elixir/1.3.4/bin/../lib/iex/ebin",
           "/usr/local/Cellar/elixir/1.3.4/bin/../lib/logger/ebin",
           "/usr/local/Cellar/elixir/1.3.4/bin/../lib/mix/ebin"]}.

