[{sasl,[{errlog_type,error}]},
 {lager,
     [{error_logger_redirect,false},
      {error_logger_whitelist,['Elixir.Logger.ErrorHandler']},
      {crash_log,false},
      {handlers,[{'Elixir.LagerLogger',[{level,info}]}]}]},
 {lager_logger,[{level,info}]},
 {redis_poolex,
     [{host,<<"0.0.0.0">>},
      {port,6479},
      {password,<<>>},
      {db,0},
      {reconnect,no_reconnect},
      {max_queue,infinity},
      {pool_size,5},
      {pool_max_overflow,1}]},
 {logger,[{level,info},{backends,[console]}]},
 {requesters,
     [{'Elixir.Requesters.Workers.RabbitConfig',
          [{hostname,<<"amqp://0.0.0.0:6672">>},
           {pool_size,1},
           {max_overflow,1},
           {reconnect_timeout,5000}]},
      {'Elixir.Requesters.Repo',
          [{adapter,'Elixir.Ecto.Adapters.Postgres'},
           {host,<<"0.0.0.0">>},
           {port,<<"6435">>},
           {database,<<"feedler">>},
           {username,<<"feedler">>},
           {password,<<"feedler">>},
           {pool_size,3},
           {loggers,
               [{'Elixir.Ecto.LogEntry',log,[]},
                {'Elixir.Requesters.Repo.Metrics',record_metric,[]}]}]},
      {environment,dev},
      {pages_workers_size,1},
      {users_workers_size,1},
      {timelines_size,1},
      {aggregator_pages_size,1},
      {aggregator_users_size,1}]},
 {tirexs,[{uri,<<"http://0.0.0.0:9200">>}]}].
